
  <div class="masterheader navbar navbar-default">
    <div class="navbar-header">
      <a href="https://learn.crunchydata.com">
        <img src="/static/logo.svg" style="width: 200px;height: 40px;margin: 10px 10px 10px 60px;" alt="">
      </a>
      <ul>
        <li class="" style="">
          <a href="https://www.crunchydata.com/products/crunchy-certified-postgresql/" target="_blank">Products</a>    
        </li>
        <li class="">
          <a href="https://www.crunchydata.com/solutions/enterprise-postgresql-support/" target="_blank">Services &amp; Support</a>
        </li>
        <li class="">
          <a href="https://www.crunchydata.com/about/" target="_blank">About</a>
        </li>
        <li class="">
          <a href="https://access.crunchydata.com" target="_blank">Login</a>
        </li>
      </ul>
    </div>
  </div>
