{{ template "templates/header.html" . }}
{{ template "templates/banner.html" . }}

<header class="masterheader">
  <div class="container">
    <h1>Interactive Learning Portal</h1>
    <h2>Learn new skills and technologies using Katacoda</h2>
  </div>
</header>

<section class="text-center">
  <div class="container">
    <div class="row">
      <div id="katacoda-dashboard"
        data-katacoda-id="{{.Site.KatacodaUser}}/{{ .Name }}/dashboard"
        data-katacoda-color="#373534"
        data-katacoda-secondary="#c00"
        data-katacoda-background="#fff"
        data-katacoda-font="Open Sans"
        data-katacoda-fontheader="Open Sans" style="height:400px;">
      </div>
    </div>
  </div>
</section>
