<!DOCTYPE html>
<html>
<head>
  <title>CrunchyData Interactive Learning Portal</title>
  <link rel="shortcut icon" href="/static/favicon.ico" />
  <meta name="google-site-verification" content="5VJxGXV3AJcfxGuLj7crXYglZpu-E1wG_k-GgqU5oPw" />
  <meta name="description" content="Learn PostgreSQL by example with interactive tutorials and courses.">
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen, print">
  <link href="/static/css/main.css" rel="stylesheet" type="text/css" media="screen, print">
  <link href="/static/css/katacoda.css" rel="stylesheet" type="text/css" media="screen, print">
  <script src="{{.Site.KatacodaHost}}/embed.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92590099-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-92590099-5');
  </script>
</head>
<body>
