        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <img class="logo" src="/static/logo.svg" alt="Crunchy Data Logo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ml-auto w-100 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" href="https://learn.crunchydata.com/">Learn</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-products" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Products
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-products" tabindex="-1" role="menu" aria-hidden="true">
                            <a class="dropdown-item" href="https://www.crunchydata.com/products/crunchy-certified-postgresql/">
                                Crunchy Certified PostgreSQL
                            </a>
                            <a class="dropdown-item" href="https://www.crunchydata.com/products/crunchy-postgresql-for-kubernetes/">
                                Crunchy PostgreSQL for Kubernetes
                            </a>
                            <a class="dropdown-item" href="https://www.crunchydata.com/products/crunchy-postgresql-cloud-foundry/">
                                Crunchy PostgreSQL for Cloud Foundry
                            </a>
                            <a class="dropdown-item" href="https://www.crunchydata.com/products/crunchy-postgresql-high-availability-suite/">
                                Crunchy PostgreSQL High Availability Suite
                            </a>
                            <a class="dropdown-item" href="https://www.crunchydata.com/products/crunchy-mls-postgresql/">
                                Crunchy MLS PostgreSQL
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-support" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Services & Support
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-support" tabindex="-1" role="menu" aria-hidden="true">
                            <a class="dropdown-item" href="https://www.crunchydata.com/solutions/enterprise-postgresql-support/">
                                Enterprise PostgreSQL Support
                            </a>
                            <a class="dropdown-item" href="https://www.crunchydata.com/solutions/enterprise-postgresql-consulting/">
                                Enterprise PostgreSQL Consulting
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://crunchydata.com/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://crunchydata.com/contact">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://access.crunchydata.com/login">Login</a>
                    </li>
                </ul>
            </div>
        </nav>