{{ template "templates/header.html" . }}
{{ template "templates/navigation.html" . }}

<section class="text-center">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div id="katacoda-terminal"
        data-katacoda-id="{{.Site.KatacodaUser}}/courses/{{ .Training.Name }}/{{ .Name }}"
        data-katacoda-ctatext="Continue Learning" data-katacoda-ctaurl="http://{{.Site.VirtualHost}}/{{ .Training.Name }}/"
        data-katacoda-color="linear-gradient(60deg, #279DD9, #1169B2)"
        data-katacoda-secondary="linear-gradient(60deg, #279DD9, #1169B2)"
        data-katacoda-background="#fff"
        data-katacoda-font="Fort"
        data-katacoda-fontheader="Fort"
        data-katacoda-externalcss="https://602f828e.ngrok.io/static/css/katacoda.css"
        style="height: calc(100vh - 114px);">
      </div>
    </div>
  </div>
</section>

{{ template "templates/footer.html" . }}
