{{ template "templates/header.html" . }}
{{ template "templates/navigation.html" . }}

<header class="masterheader">
  <div class="container text-center">
    <h1>PostgreSQL Interactive Learning Portal</h1>
    <div class="row justify-content-md-center">
      <div class="col-lg-8">
        <h2>Learn PostgreSQL by example with interactive courses designed by our experts!</h2>
        <h3>Brought to you by <a href="https://www.crunchydata.com">Crunchy Data</a></h3>
      </div>
    </div>
  </div>
</header>

<section class="text-center">
  <div class="container">
    <div class="row">
      <div id="katacoda-dashboard"
        data-katacoda-id="{{.Site.KatacodaUser}}/{{ .Name }}/{{.Subcourse}}/dashboard"
        data-katacoda-color="#226aa6"
        data-katacoda-secondary="#c00"
        data-katacoda-background="#fff"
        data-katacoda-font="Open Sans"
        data-katacoda-fontheader="Open Sans" style="height:800px;">
      </div>
    </div>
  </div>
</section>
