{{ template "templates/header.html" . }}
{{ template "templates/navigation.html" . }}

<section class="text-center">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div id="katacoda-scenario-1"
          data-katacoda-id="{{.Site.KatacodaUser}}/training/{{ .Training.Name }}/{{ .Name }}"
          data-katacoda-ctatext="More Scenarios" data-katacoda-ctaurl="https://{{.Site.VirtualHost}}/training/{{ .Training.Name }}"
          data-katacoda-color="linear-gradient(60deg, #279DD9, #1169B2)"
          data-katacoda-secondary="linear-gradient(60deg, #279DD9, #1169B2)"
          data-katacoda-background="#fff"
          data-katacoda-font="Fort"
          data-katacoda-fontheader="Fort"
          data-katacoda-externalcss="http://{{.Site.VirtualHost}}/static/css/katacoda.css"
          style="height: calc(100vh - 114px); width: 100%;">
      </div>
    </div>
  </div>
</section>

{{ template "templates/footer.html" . }}
