@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

@font-face {
  font-family: 'Fort';
  src: url('../fonts/Fort-Light.eot');
  src: url('../fonts/Fort-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Fort-Light.woff2') format('woff2'), url('../fonts/Fort-Light.woff') format('woff'), url('../fonts/Fort-Light.ttf') format('truetype'), url('../fonts/Fort-Light.svg#Fort-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fort';
  src: url('../fonts/Fort-Extrabold.eot');
  src: url('../fonts/Fort-Extrabold.eot?#iefix') format('embedded-opentype'), url('../fonts/Fort-Extrabold.woff2') format('woff2'), url('../fonts/Fort-Extrabold.woff') format('woff'), url('../fonts/Fort-Extrabold.ttf') format('truetype'), url('../fonts/Fort-Extrabold.svg#Fort-Extrabold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Fort';
  src: url('../fonts/Fort-Black.eot');
  src: url('../fonts/Fort-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Fort-Black.woff2') format('woff2'), url('../fonts/Fort-Black.woff') format('woff'), url('../fonts/Fort-Black.ttf') format('truetype'), url('../fonts/Fort-Black.svg#Fort-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Fort';
  src: url('../fonts/Fort-Medium.eot');
  src: url('../fonts/Fort-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Fort-Medium.woff2') format('woff2'), url('../fonts/Fort-Medium.woff') format('woff'), url('../fonts/Fort-Medium.ttf') format('truetype'), url('../fonts/Fort-Medium.svg#Fort-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-family: Fort, sans-serif !important;
}

code {
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace !important;
}

a {
  color: #008CD0;
}

p {
  font-weight: 300;
  line-height: normal;
}

/* Katacoda UI Overrides */

button.primary-btn.btn, .primary-btn.btn {
  background: linear-gradient(60deg, #279DD9, #1169B2);
  border-radius: 0.25rem;
  box-shadow: none;
  font-family: Fort;
  font-size: 1rem;
  font-weight: 400;
  height: auto;
  line-height: inherit;
  padding: 1rem;
  text-transform: lowercase;
}

/* Course Pathway */

#course-pathway .col.s3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(230,230,230,1);
  -moz-box-shadow: 0px 3px 15px 0px rgba(230,230,230,1);
  box-shadow: 0px 3px 15px 0px rgba(230,230,230,1);
  padding: 15px !important;
  word-wrap: break-word;
}

#course-pathway .panel {
  height: 12rem;
}

#course-pathway .panel .content {
  height: 75%;
}

#course-pathway .panel h4 {
  line-height: initial;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
}

#user-course-progress .action.start,
.x .panel .action.start,
#course-pathway .x .panel .action.start {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  border-radius: 0.25rem;
  color: #212529;
  font-size: 100%;
  font-weight: 600;
  text-transform: lowercase;
}

/* Course */

#embedded-terminal #intro .banner, #finished .banner {
  padding: 2rem 2.5rem;
}

#embedded-terminal #intro #course-details .key {
  color: inherit;
  font-weight: 400;
}

#embedded-terminal #intro #course-details .value {
  color: #008CD0;
  font-weight: 300;
}

#embedded-terminal {
  background-color: #e6e6e6;
}

#embedded-terminal div.col.s12 h1,
#embedded-terminal div.col.s12 h2,
#embedded-terminal div.col.s12 h3,
#embedded-terminal div.col.s12 h4,
#embedded-terminal div.col.s12 h5,
#embedded-terminal div.col.s12 h6,
#embedded-terminal section#tutorial h4:not(.light),
#embedded-terminal section#finished h4:not(.light) {
  color: #008CD0;
  font-weight: 600;
}

#embedded-terminal .row .col {
  padding: 1rem 2.5rem;
}

#step-progress #step-progress-text {
  color: #383732;
  font-weight: 300;
  text-transform: lowercase;
}

#course-title {
  padding: 1.5rem 0;
}

#course-title h3 {
  padding: 0;
  font-weight: 500;
}

.text-tutorial .step code.execute,
.side-tutorial .step code.execute {
  background-color: #383732;
}

/* Misc Overrides */

.step .primary-btn.next.right {
  margin: 0;
}
